<div class="insta-face-card" [ngClass]="{onAime : utilisateurDejaAime }">
    <h2>{{instaFace.title | uppercase}}</h2>
    @if (instaFace.location) {
        <p>Localisation : {{instaFace.location}}</p>
    }
    @else {
        <p>Localisation non spécifiée</p>
    }
    <img [src]="instaFace.imageUrl" [alt]="instaFace.title">
    <p>{{instaFace.description}}</p>
    <p>Publication publiée le : {{instaFace.createdAt | date}}</p>
    <p>
        <button (click)="onLike()">{{aimerBouttonTexte}}</button>
        : {{instaFace.likes}}
    </p>
</div>